.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: purple;
}

.mat-sidebar {
  background: purple;
}

.hide {
   display: none;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

div a.active{
  color:white;
  background-color: primary;
  font-weight: 500;
}

.logout{
  margin-left: auto;
}
